.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
node_modules/**
.gitignore
tsconfig.json
.failsafe/**/proprietary/**
.failsafe/**/.proprietary/**
.failsafe/**/internal/**
.failsafe/**/.internal/**
.failsafe/**/private/**
.failsafe/**/.private/**
.agent/staging/**
